a.toplevel_page_reshark_pdb .wp-menu-image{background:url(../images/ico_reshark.png) no-repeat center transparent;background-size:25px;}

.reshark_message{display:inline-block;padding:5px 20px;border-left:4px solid!important;border-top:2px solid!important;border-bottom:2px solid!important;border-right:2px solid!important;background:#ffffff;}
.reshark_message p{margin:0;}
.reshark_message.reshark_success{border-color:green!important;}
.reshark_message.reshark_error{border-color:red!important;}
.reshark_message.reshark_warning{border-color:darkorange!important;}

/* ui-accordion */
.ui-accordion{max-width:98%;background-color:#ffffff;}
.ui-accordion-header{/*margin:0;*/display:inline-block;width:100%;margin:0;padding:1rem;border-top:2px solid;box-sizing:border-box;cursor:pointer;}
/*.ui-accordion-header.active{background-color:lightgreen;}*/
.ui-accordion-content{padding:20px;}
.ui-accordion-content p{margin:0 0 10px;}
.ui-accordion-content.ui-accordion-content-active{display:inline-block;width:100%;}

/* input / select */
input+select{vertical-align:top!important;}